body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  background-color: #fffbee;
  overflow-x: hidden;
}

header {
  background-color: #2a1d0c;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

header .logo {
  display: flex;
  align-items: center;
}

header .logo img {
  width: 50px;
  margin-right: 15px;
}

header .logo h1 {
  font-family: 'Lobster', cursive;
  font-size: 24px;
  margin: 0;
}

header nav {
  display: flex;
  align-items: center;
}

header nav a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 10px;
  font-weight: 600;
}

header .icon {
  color: white;
  font-size: 24px;
  margin-left: 10px;
}

.main-nav {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.main-nav a {
  text-decoration: none;
  color: #000000;
  font-weight: 600;
  margin: 0 10px;
}

.main-nav img {
  width: 40px;
  vertical-align: middle;
}

.imgintroducao {
  position: relative;
  width: 100%;
  height: 80vh; /* Define a altura para ocupar toda a altura da tela */
  overflow: hidden;
}


.imgintroducao img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 90%;
  
  transform: translate(-50%, -50%);
}



.image-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.image-container {
  margin: 0 1rem;
  text-align: center;
}

.image-container img {
  width: 250px; /* Ajuste o tamanho conforme necessário */
  height: 250px; /* Define altura para manter o aspecto circular */
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #fff; /* Adiciona uma borda branca para destacar a imagem */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adiciona uma leve sombra */
  transition: transform 0.3s ease; /* Adiciona uma transição suave */
}

/* Efeito de movimento ao passar o mouse */
.image-container img:hover {
  transform: scale(1.1); /* Aumenta o tamanho da imagem ao passar o mouse */
}

.image-container p {
  margin-top: 0.5rem;
  font-size: 1.1rem;
  color: #555;
}
.produto {
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 10px;
  padding: 15px;
  text-align: center;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  height: 400px;
  width: 400px;
  }
  
  #produtos{
  display: flex;
  }
  
  .produto:hover {
  transform: translateY(-5px);
  }
  
  .produto img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 10px;
  }
  
  .preco {
  font-weight: bold;
  color: #333;
  }
  
  
  button {
  background-color: #D2B48C;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  }
  
  button:hover {
  background-color: #292929;
  color: #f9f9f9;
  }

.image-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  margin-bottom: -8px;
}

section {
  padding: 40px 20px;
  text-align: center;
}

footer {
  background-color: #4b2b02;
  color: white;
  text-align: center;
  padding: 10px 0;
}

h2 {
  font-family: 'Lobster', cursive;
  font-size: 36px;
  margin-bottom: 20px;
}

p {
  font-size: 16px;
  margin-bottom: 20px;
}
.slider {
  position: relative;
  width: 100vw; /* 100% da largura da viewport */
  height: 100vh; /* 100% da altura da viewport */
  overflow: hidden;
}

.slider-content {
  display: flex;
}

.slides {
  display: flex;
  width: 100%; /* Ajuste o valor conforme necessário */
  transition: transform 0.5s ease-in-out;
}

.slide-box {
  min-width: 90vw; /* 100% da largura da viewport */
  box-sizing: border-box;
}

.slide-box img {
  width: 100%;
  height: 90%; /* Ajuste a altura conforme necessário */
  vertical-align: middle;
}
  header nav a {
      margin: 0 5px;
  }

  .main-nav a {
      margin: 0 5px;
  }

  h2 {
      font-size: 28px;
  }

  p {
      font-size: 14px;
  }

  .nav-manual .manual-btn, .nav-auto div {
      padding: 3px;
  }

