body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  background-color: #fffcfa;
  overflow-x: hidden;
}

header {
  background-color: #2a1d0c;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

header .logo {
  display: flex;
  align-items: center;
}

header .logo img {
  width: 50px;
  margin-right: 15px;
}

header .logo h1 {
  font-size: 24px;
  margin: 0;
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
}

header nav {
  display: flex;
  align-items: center;
}

header nav a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 10px;
  font-weight: 600;
}

header .icon {
  color: white;
  font-size: 24px;
  margin-left: 10px;
}

.main-nav {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.main-nav a {
  text-decoration: none;
  color: #000000;
  font-weight: 600;
  margin: 0 10px;
}

.main-nav img {
  width: 40px;
  vertical-align: middle;
}

.image-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  margin-bottom: -8px;
}


p{
    text-align: center;
    font-size: 15px;
}
.image-container {
    display: flex; 
}
main{
display: inline;
}


.menu-page {
  position: relative;
  top: -60px;
  padding: 40px 20px;
  text-align: center;
}

.menu-page h2 {
  color: #2a1d0c;
  font-size: 36px;
  margin-bottom: 20px;
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.product-card img {
  max-wiwidth: 200px; /* Define a largura desejada */
  height: 350px; /* Define a altura desejada */
  object-fit: cover; /* Mantém o aspecto da imagem e preenche o contêiner */
  border-radius: 5px; /* Opcional: para bordas arredondadas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Opcional: adiciona sombra */
}

.product-card {
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: calc(25.10% - -15px); 
  margin-bottom: 20px;
  text-align: center; 
}

.product-card .product-details {
  padding: 20px;
  text-align: left;
}

.product-card h3 {
  font-size: 1.2em;
  color: #4b2b02;
  margin: 0 0 10px;
}

.product-card .price {
  font-size: 1.2em;
  color: #b12704;
  margin-bottom: 10px;
}

.product-card button {
  padding: 10px 20px;
  font-size: 1em;
  background-color: #2a1d0c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  width: 100%;
  margin-top: 10px;
}

.product-card button:hover {
  background-color: #3e2402;
}

footer {
  background-color:  #2a1d0c;
  color: white;
  text-align: center;
  padding: 10px 0;
}